# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
.yarn
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


# Yarn PnP / Zero-Installs
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
!.yarn/unplugged # Generalmente también se commitea si existe

# Archivo PnP Loader (asegúrate de que NO esté ignorado)
!.pnp.*

# Archivos específicos de Yarn que sí deben ignorarse
.yarn/build-state.yml
.yarn/install-state.gz