.projectsContainer {
    margin-top: 2rem;
    padding: 0 5%;
}

.projectTitle {
    font-size: 1.7rem;
    color: var(--accent-color);
    display: flex;
    align-items: center;
    gap: 0.6rem;
    margin-bottom: 1.4rem;
    border-bottom: 1px solid var(--accent-color);
    padding-bottom: 0.8rem;
}

.descriptionProjects {
    margin-bottom: 3rem;
    font-size: 1.2rem;
}

.cardContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit);
    gap: 2rem;
    margin-bottom: 15px;
}




/* Responsive ↓↓↓ */
@media (max-width: 1024px) {
    .cardContainer {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .cardContainer {
        grid-template-columns: 1fr;
    }

    .projectTitle {
        font-size: 2rem;
    }

    .projectsContainer h3 {
        font-size: 1rem;
    }
}