:root {
  --bg-color: #0a192f;
  --text-color: #ccd6f6;
  --accent-color: #64ffda;
  --light-text: #f8f8f8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  line-height: 1.6;
  padding: 2rem;
  height: 100vh;
}