@keyframes pulse {

    0%,
    ¡ 100% {
        transform: scale(1.1);
        opacity: 1;
    }

    50% {
        transform: scale(1.10);
        opacity: 0.95;
    }
}

@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.hero {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    padding: 6rem 5% 8rem;
    overflow: hidden;
}

.heroBackground {
    position: absolute;
    inset: 0;
    z-index: 0;
    background-image:
        linear-gradient(0deg, rgba(165, 165, 165, 0.199) 1px, transparent 1px),
        linear-gradient(90deg, rgba(255, 255, 255, 0.05) 1px, transparent 1px);
    background-size: 100px 80px;
    background-position: center top;
    background-repeat: repeat;

    mask-image: radial-gradient(ellipse at center top,
            black 20%,
            rgba(0, 0, 0, 0.979) 60%,
            rgba(0, 0, 0, 0.4) 80%,
            transparent 100%);
    -webkit-mask-image: radial-gradient(ellipse at center top,
            black 20%,
            rgba(0, 0, 0, 0.8) 60%,
            rgba(0, 0, 0, 0.4) 80%,
            transparent 100%);

    animation: pulse 6s ease-in-out;

}


.heroContent {
    position: relative;
    z-index: 1;
    max-width: 750px;
}

.heroContent>* {
    opacity: 0;
    animation: fadeUp 0.6s ease forwards;
}

.heroContent h1 {
    animation-delay: 0.2s;
}

.heroContent h2 {
    animation-delay: 0.4s;
}

.heroContent p {
    animation-delay: 0.6s;
}

.heroContent .contactLinks {
    animation-delay: 0.8s;
}

.hero h1 {
    color: var(--light-text, #e2e8f0);
    font-size: 3rem;
    margin-bottom: 0.5rem;
}

.hero h2 {
    color: var(--accent-color, #5eead4);
    font-size: 1.5rem;
    margin-top: 0;
    margin-bottom: 1rem;
}

.hero p {
    font-size: 1.1rem;
    line-height: 1.6;
    color: var(--medium-text, #ecf2fa);
}

.hero strong {
    color: var(--accent-color, #5eead4);
}

.contactLinks {
    display: flex;
    gap: 1rem;
    margin-top: 1.5rem;
    flex-wrap: wrap;
}

.contactButton {
    display: inline-flex;
    align-items: center;
    gap: 0.4rem;
    padding: 0.5rem 0.9rem;
    border-radius: 8px;
    background-color: transparent;
    color: var(--light-text, #e2e8f0);
    border: 1px solid var(--light-text, #e2e8f0);
    text-decoration: none;
    font-weight: 500;
    transition: all 0.3s ease;
    font-size: 0.95rem;
}

.contactButton:hover {
    transform: translateY(-2px);
}

/* Colores específicos en hover */
.github:hover {
    background-color: #ffffff;
    color: #333333;
}

.linkedin:hover {
    background-color: #0077B5;
    color: white;
}

.gmail:hover {
    background-color: #D14836;
    color: white;
}