@keyframes pulse {

    0%,
    ¡ 100% {
        transform: scale(1.1);
        opacity: 1;
    }

    50% {
        transform: scale(1.10);
        opacity: 0.95;
    }
}


.hero {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    padding: 6rem 5% 8rem;
    overflow: hidden;
}

.heroBackground {
    position: absolute;
    inset: 0;
    z-index: 0;
    background-image:
        linear-gradient(0deg, rgba(165, 165, 165, 0.199) 1px, transparent 1px),
        linear-gradient(90deg, rgba(255, 255, 255, 0.05) 1px, transparent 1px);
    background-size: 100px 80px;
    background-position: center top;
    background-repeat: repeat;

    mask-image: radial-gradient(ellipse at center top,
            black 20%,
            rgba(0, 0, 0, 0.979) 60%,
            rgba(0, 0, 0, 0.4) 80%,
            transparent 100%);
    -webkit-mask-image: radial-gradient(ellipse at center top,
            black 20%,
            rgba(0, 0, 0, 0.8) 60%,
            rgba(0, 0, 0, 0.4) 80%,
            transparent 100%);

    animation: pulse 6s ease-in-out;

}


.heroContent {
    position: relative;
    z-index: 1;
    max-width: 750px;
}

.hero h1 {
    color: var(--light-text, #e2e8f0);
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
}

.hero h2 {
    color: var(--accent-color, #5eead4);
    font-size: 1.5rem;
    margin-top: 0;
    margin-bottom: 1rem;
}

.hero p {
    font-size: 1.1rem;
    line-height: 1.6;
    color: var(--medium-text, #94a3b8);
}